/* MODAL */

/* Modal box */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    z-index: 1000;
}

.modal1 {
    padding-top: 150px;
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modal-items a,
.modal-items li {

    margin-top: 20px;
    text-align: center;
    font-size: 32px;
    list-style-type: none;
    text-decoration: none;
    color: white;

}



.hidden {
    display: none;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

/* NAVBAR */

@media (max-width:766px) {
    .navbar3 a {
        display: none
    }
}

.navbar3 a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.menu-icon img {
    width: 20px;

}

/* MAIN BODY */
.img-con1 {

    height: 900px;
    overflow: hidden;
}

.background-img1 {
    background-image: url('https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.main-logo-section {
    margin-top: 11em;
}


.sub-title {
    max-width: 450px;
    margin: 0 auto;
}

.description-box {
    height: auto;
}

.description-box h1 {
    margin-bottom: 20px;
}

.description {
    font-size: clamp(16px, 2vw, 20px);
}

.location-grid {
    max-width: 960px;
}

.loc-title {
    max-width: 280px;
    padding: 10px 20px;

}

.loc-btn :hover {
    background-color: lightgray;
}

.loc-title h4 {
    color: Black;
    font-size: clamp(14px, 2vw, 18px);
    padding-top: 5px;
}

.loc-title img {
    width: 15px;
}

/* FOOTER */
/* ------ */

.footer-section {
    max-width: 900px;
}

.footer-logo img {
    width: 150px;
}

.reg-lan {
    display: flex;

}

.region,
.language {
    border: 1px solid gray;
    border-radius: 6px;
    height: 40px;
    width: 120px;
    align-items: center;
    padding: 2px 5px;
    margin-top: 10px;
}

.region {
    margin-right: 20px;
}

@media (max-width:574) {
    .region {
        display: flex;
        justify-content: start;
    }
}

.related-links {
    padding-top: 20px;
    height: auto;
}

.social-icons {
    display: flex;
}

.social-icons li {
    list-style-type: none;
    margin-right: 10px;
}

.social-icons:last-child {
    margin-right: 0px;
}

.social-icons img {
    height: 20px;
    width: 20px;
}

.related-links h4 {
    font-size: clamp(12px, 2vw, 16px);
}

.related-links ul {
    padding-left: 0px;
}

.about-zomato li,
.about-zomato a,
.zomaverse li,
.zomaverse a,
.learn-more li,
.learn-more a,
.socials li,
.socials a {
    line-height: 2;
    text-transform: uppercase;
    list-style-type: none;
    font-size: clamp(12px, 2vw, 14px);
    color: black;
    text-decoration: none;
    font-weight: 100;
}

.social-icons img {
    width: 20px;
}

button {
    box-sizing: content-box;
}

/* @media (max-width:576px) {
    .socials {
        display: block;
        color: green;
    }
} */